* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.buttonContainer {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#sizeButton {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px auto;
}

.grid-container {
  height: 960px;
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}

.divGrid {
  border: 1px solid black;
}

main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
