* {
  padding: 0;
  margin: 0;
}

.divGrid {
  width: 4px;
  height: 4px;

  padding: 5px;
  margin: 0px;
  border: 1px solid black;
}

.buttonContainer {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#sizeButton {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.flex-grow {
  flex-grow: 1;
  flex-shrink: 0;
}

.container {
  /* max-width: 400px; */
  margin: 10px auto;
  padding: 20px;
  padding: 0 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
